<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content">Content</label>
      <textarea name="content"></textarea>
    </div>
    <button type="submit">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class="your-post-sec">
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
    <article class="post">
      <div class="card">
        <div class="card-header">
            <a href="/dashboard/edit/{{post.id}}" class="card-title">{{title}}</a>
            on {{format_date created_at}} by {{user.username}}
        </div>
        <div class="card-body">
          <p class="card-text">{{content}}</p>
        </div>            
      </div>
    </article>
    {{/each}}
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>